body{
    font-family: lato;
    line-height: 1.5;
    margin-right: 200px;
    margin-left: 20px;
    margin-bottom: 30px;
    font-weight: lighter;
    width:720px;
}

p{ 
    color:#444444;
}

h1{
    color: red;
    font-size:300%;
    font-weight: lighter;
    padding-bottom: 0px;
    margin-bottom: 0px

}

h2{
    color:black;
    font-weight: lighter;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 150%;
 } 

 #nav{
    margin-top: 10px;
}
        #nav a:link {
                    color: #dddddd;
                    padding-right: 10px;
                    font-size: 125%;
                }
                #nav a:visited {
                    color: #dddddd;
                        }
                #nav a:hover {
                    color: black;
                        }
                #nav a:active {
                    color: #dddddd;
                        } 

.date{
    color: #dddddd;
    font-size: 200%;
    margin-top: 50px;
}
.title{
    color:black;
    font-size: 200%;
    margin-bottom: 10px;
}

.frame{
    max-height: 100%;
    max-width: 100%;
}

.line {
    color: red;
    margin: 25px 0;
    border-bottom: 1px #cccccc solid;
    padding-bottom: 30px;
    text-align: right;
    font-weight: bold;
}


#bottomlinks{
    padding-top: 30px;
}
            #bottomlinks a{
                color: red;
                display: inline;
                padding-right: 5px;
                padding-left: 3px;
                text-decoration: none;
                border-right: 1px #cccccc solid;
            }
            #bottomlinks a:visited {
                color: red;
            }
            #bottomlinks a:hover {
                color:  #aa0000;
            }
            #bottomlinks span a{border-right: none!important ;
            }

footer{
    color:#bbbbbb;
    padding-top: 20px;
}




